.wrapper{
  display: flex;
  gap:10px;
}
.item{
  width: 100px;
  height: 100px;
  & span{
    color:white;
    font-size: 2rem;
  }
}
/* .item span{
  color:white;
} */
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.title{
  text-align: center;
  color:blue;
}